body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav ads article"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 10% 10% 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

header,
footer,
article,
nav,
div {
  padding: 20px;
  background: gold;
}

#pageHeader {
  grid-area: header;
}

#pageFooter {
  grid-area: footer;
}

#mainArticle {
  grid-area: article;
  overflow: scroll;
}

#mainNav {
  grid-area: nav;
}

#siteAds {
  grid-area: ads;
}

table {
  width: 100%;
}

td {
  min-width: 400px;
  background-color: teal;
  min-height: 35px;
  height: 35px;
}

.content {
  position: static;
  left: 0;
}